body{
    background-color: #222;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1rem;
}
h1, h2, h3 {
    font-weight: 200;
}
h2, h3 {
    margin: 0px;
}
p{
    font-size: 16px;
}